/* fonts */
@font-face {
	font-family: Quartzo; src: url(../fonts/QUARTZO.ttf);
}

@font-face {
	font-family: Starfih; src: url(../fonts/Starfish.ttf);
}

/* all */
* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
}
body {
	display:flex;
	flex-wrap: wrap;
	font-family: "Quartzo";
}

a {
	text-decoration: none;
}

/* nav */
header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 50;
}

#page-nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
    height: 6vh;
}

#page-nav a {
	letter-spacing: 1px;
}

#page-nav label, #hamburger {
  display: none;
}

#page-nav img {
	width: 75px;
	margin: 15px 0 0 15px;
	transition: 0.5s ease-in-out;
}

#page-nav img:hover {
	transform: scale(1.05);
}


#page-nav h1 {
	font-size: 3em;
	color: white;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: #ae201f;
	margin-left: 15px;
	transition: 0.5s ease-in-out;
}

#page-nav h1:hover {
	transform: scale(1.05);
}

#page-nav ul {
  list-style-type: none;
  margin: 0 auto;
}

#page-nav ul li {
	display: inline-block;
  	position: relative;
  	padding: 1.2vw;
}

#page-nav ul li a {
  	color: #fff;
	font-size: 1.3em;
	letter-spacing: 1px;
	-webkit-text-stroke: 1px;
	-webkit-text-stroke-color: #ae201f;
}

#page-nav ul li ul {
	display: none;
	position: absolute;
	top: 80%;
	left: 0;
}

#page-nav ul li:hover ul{
	display: inline-block;
}

#page-nav a:hover {
	color: #ffae00;
	transition: 0.3s;
}

/* main */
main {
	display: flex;
	flex-wrap: wrap;
}
/* parallax */
.images {
	width: 100%;
	height: 100vh;
}

.zine-images {
	margin-left: auto ;
	margin-right: auto ;
	display: flex;
	align-items: center;
}
  
.zine-image {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	height: 100vh;
}
  
.zine-image img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	filter: brightness(75%);
	transition: 0.5s ease-in-out;
}

.zine-image img:hover {
	filter: brightness(100%);
}

.captionCool {
	position: relative;
	left: 5%;
	bottom: 50%;
}

.captionCool a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Starfish, sans-serif;
	text-transform: capitalize;
	font-size: 2.5vw;
	letter-spacing: 8px;
	color: white;
	transition: 0.5s ease-in-out;
}

.captionCool a:hover {
	transform: scale(1.05);
}

/* div text */
.sectionText {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	background: url(../images/fond_jaune.jpg) fixed no-repeat center center;
	background-size: cover;
}
/*
.sectionText::after {
	content: "";
    background: url(../images/image-defile.png) repeat-x center center;
	position: absolute;
	top: -220px;
	width: 100%;
	height: 100%;
}
*/

.sectionText img {
	height: 30vh;
	margin: 25px;
	transition: 0.5s ease-in-out;
}

.sectionText img:hover {
	transform: scale(1.05);
}

.text {
	flex: 1;
	padding: 60px 80px;
}

.text h2 {
	font-family: Quartzo;
	font-size: 2.5em;
	letter-spacing: 1px;
	color: white;
	text-decoration: underline;
	padding: 15px 0;
}

.text p {
	font-family: Acme;
	font-size: 1.3em;
	line-height: 24px;
	text-align: justify;
    color: white;
}

/* footer */
footer {
	display: block;
	width: 100%;
	height: 2.5vh;
	color: white;
	background: #ae201f;
	padding: 1rem;
	font-size: 1.3em;
	letter-spacing: 1px;
	text-align: center;
	z-index: 25;
}
p.footer {
	display: inline-block;
	position: relative;
	font-family: 'Acme';
	top: auto;
	left: auto;
	bottom: 0.5rem;
	right: auto;
}
.first {
	padding-right: 1rem;
	filter: invert(1);
	width: 2rem;
	height: 1.6rem;
}
.inline1 {
	color: #c58700;
}

p a {
	color: #c58700;
	text-decoration: underline;
}

p a:hover {
	color: #ffae00;
}

.second {
	padding-right: 1rem;
	transform: rotateY(180deg);
	filter: invert(1);
	width: 2rem;
	height: 1.6rem;
}

/*******************************************************************
************************** MEDIA QUERIES ***************************
********************************************************************/

@media screen and (max-width: 450px){
#page-nav {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		height: 3.3rem;
		margin-bottom: 15px;
}
label {
	  width: 2rem;
	  height: 2rem;
}
#page-nav label {
    display: inline-block;
    color: #fff;
	background: #a02620;
    font-style: normal;
    font-size: 2em;
   	z-index:20;
	
}
  
#page-nav ul li {
    display: block;
	height: 2rem;
	z-index:21;
}
#page-nav ul li {
    border-top: 1px solid #333;
	padding:1%;
}

  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
	position: absolute;
	width:100%;
	z-index: 50;
  }
.logo img {
    display:block;
	position:absolute;
	width:auto;
	height:auto;
	top:0;
	left:auto;
	bottom:auto;
	right:2%;
}
}